* {
    margin: 0;
    user-select: none;
}

body {
    overflow: hidden;
    cursor: default;
}

body.landscape {
    transform-origin: left top;
}

#background {
    position: absolute;
    background-image: url(./bkg.jpg);
    background-size: cover;
}

#mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#cssRenderOverlay {
    pointer-events: none;
}

#logs {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

#logs img {
    height: 1.6em;
    width: 1.6em;
    vertical-align: top;
}

#logs > * {
    padding: 0 0.5em;
    height: 1.6em;
    line-height: 1.6em;
    overflow: hidden;
    background-image: linear-gradient(to right, skyblue, transparent 50%);
    color: white;
    vertical-align: top;
}

#logs > .primary.action {
    background-image: linear-gradient(to right, rgb(235, 135, 135), transparent 50%);
}

#logs > .primary.turn {
    background-image: linear-gradient(to right, rgb(68, 189, 83), transparent 50%);
}

#logs > .error {
    background-image: linear-gradient(to right, red, transparent 50%);
}

#logs > * > span {
    color: yellow;
    margin: 0 0.2em;
}

.shout-container {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    transform-origin: 0 0;
}

.shout {
    transform: translate(-50%, -50%);
    font-size: 3em;
    padding: 1em;
    background-image: radial-gradient(ellipse farthest-side, rgba(255, 255, 255, 0.5), transparent);
    color: white;
    text-shadow: black 0 1px, black 1px 0, black -1px 0, black 0 -1px, black 0 0 1em;
}

#game .player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#game .player .info {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    margin-bottom: 1em;
    transition: background-color 0.2s, border-color 0.2s;
}

#game .player .info:hover {
    opacity: 0.1;
}

#game .player .info .avatar {
    display: inline-block;
    height: 3em;
    width: 3em;
    background-color: white;
}

#game .player .info .name {
    margin: 0 0.5em;
    display: inline-block;
    color: black;
}

#game .player .info .position {
    font-size: 1.5em;
    margin: 0 0.25em;
    text-align: center;
}

.actions {
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}

button {
    padding: 0.3em 1em;
    margin: 0.2em 0.5em;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    outline: 0;
    display: inline-block;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.center-info-wrapper {
    height: 160px;
    width: 160px;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.center-info {
    position: absolute;
    width: 160px;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.center-info > * {
    color: darkgreen;
    transform: scaleY(2);
}

.center-info hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid darkgreen;
}

.center-info .round-wind::after {
    content: "风局";
    color: black;
    margin-left: 0.1em;
}

.center-info .tile-left::before {
    content: "剩余牌数：";
    color: black;
}

#doraIndicators {
    position: fixed;
    pointer-events: none;
    top: 1em;
    right: 1em;
}

#doraIndicators .normal {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    padding: 0.1em 0.3em;
    z-index: 1;
}

#doraIndicators .hidden {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(92, 92, 92);
    padding: 0.1em 0.3em;
}

#doraIndicators .hidden header {
    display: flex;
    align-items: center;
}

#doraIndicators .hidden header hr {
    flex-grow: 1;
    border: 1px solid rgb(255, 255, 255);
    border-bottom-style: none;
}

#doraIndicators .hidden header span {
    padding: 0.5em;
    color: white;
}

.tile {
    height: 4em;
    line-height: 4em;
    width: 3em;
    display: inline-block;
    position: relative;
    background-color: #0c8f5d;
    box-shadow: 3px -4px white;
    margin: 7px 0.2em 0;
    box-sizing: content-box;
    border-radius: 2px;
}

.tile.open {
    animation: show-tile 0.3s;
    background-color: white;
    box-shadow: 3px -4px #0c8f5d;
}

.tile.open.dora {
    animation: show-tile 0.3s, dora-tile 1s infinite alternate;
}

.tile img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.4em;
    visibility: hidden;
}

.tile.open img {
    transition: visibility 0s 0.09s;
    visibility: visible;
}

@keyframes dora-tile {
    0% {
        box-shadow: 3px -4px #0c8f5d, 3px -4px 2px 2px white;
    }

    100% {
        box-shadow: 3px -4px #0c8f5d, 3px -4px 2px 2px rgba(255, 255, 255, 0.342);
    }
}

@keyframes show-tile {
    0% {
        filter: brightness(1);
    }

    30% {
        filter: brightness(10);
    }

    100% {
        filter: brightness(1);
    }
}

#game {
    transition: filter 0.8s;
}

#game.blur {
    filter: blur(5px);
}

#gameResultBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#gameResultBackground.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameResultBackground .game-result {
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    padding: 1em 0;
    max-width: 80%;
}

.game-result header {
    display: flex;
    align-items: center;
}

.game-result header span {
    padding: 0.5em 1em 0.5em 2em;
    background-color: rgb(119, 86, 3);
    color: white;
}

.game-result header hr {
    flex-grow: 1;
    margin: 0 1em;
    border: 1px solid rgb(119, 86, 3);
}

.game-result .result-upper {
    position: relative;
    padding: 0 1em;
    margin: 1em 0;
}

.game-result .player {
    animation: swing 5s ease-in-out infinite alternate;
    display: inline-flex;
    align-items: center;
    margin-right: 6em;
    background: linear-gradient(to right, goldenrod, transparent);
}

.game-result .player > * {
    animation: rev-swing 5s ease-in-out infinite alternate;
    margin-right: 0.5em;
}

.game-result .player .name {
    padding: 0.5em 1em;
    background-color: goldenrod;
}

.game-result .player .position {
    padding: 0.25em 0.5em;
    background-color: rgb(179, 133, 18);
    color: white;
}

.game-result .player .avatar {
    height: 3em;
    width: 3em;
    background-color: white;
    border: 5px solid rgb(119, 86, 3);
}

.game-result .hu,
.game-result .draw {
    position: absolute;
    top: 0.6em;
    right: 0;
    font-size: 1.2em;
    padding: 0.2em 1.6em 0.2em 0.5em;
    background-color: white;
    color: rgb(119, 86, 3);
}

.game-result .draw {
    background-color: black;
    color: white;
}

.game-result .hu .from {
    position: absolute;
    white-space: nowrap;
    bottom: 100%;
    right: 0;
    padding: 0.2em;
    font-size: 0.5em;
    color: white;
    background-color: rgb(119, 86, 3);
}

.game-result .deck {
    padding: 0 1em;
}

.game-result .deck .group {
    margin-left: 1em;
    display: inline-block;
}

.game-result .deck .group:first-child {
    margin-left: 0;
}

.game-result .fan,
.game-result .score {
    padding: 0.5em 1em;
}

.game-result label {
    display: inline-block;
    padding: 0.25em 1em;
    margin-right: 1em;
    background-color: rgb(119, 86, 3);
    color: white;
    animation: label-swing 5s ease-in-out infinite alternate;
}

.game-result .fan span,
.game-result .score span {
    display: inline-block;
    padding: 0.25em 0.5em;
    background-color: rgb(226, 195, 114);
    margin-right: 0.5em;
}

@keyframes swing {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-2deg);
    }
}

@keyframes rev-swing {
    from {
        transform: rotate(0) scale(1.05);
    }

    to {
        transform: rotate(2deg);
    }
}

@keyframes label-swing {
    from {
        transform: rotate(-1deg) scale(1.05);
    }

    to {
        transform: rotate(1deg) scale(0.95);
    }
}

#spectatorToolbar {
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
}

button.active,
.info.active {
    background-color: rgba(122, 111, 49, 0.9) !important;
    border: 1px solid rgba(255, 232, 100, 0.9) !important;
    color: white;
}

.info.active .name {
    color: white !important;
}

input[type="range"] {
    position: fixed;
    bottom: 1em;
    left: 25%;
    right: 25%;
    width: 50%;
}

.mouse-effect {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 4em;
    font-weight: bold;
    display: none;
}

.mouse-effect::before {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

.mouse-effect.checkmark::before {
    content: "✓";
    color: lightgreen;
    text-shadow: green 0 1px, green 1px 0, green -1px 0, green 0 -1px, green 0 0 1em;
}

.mouse-effect.should-then-play-tile::before {
    content: "请出牌";
    color: coral;
    text-shadow: white 0 1px, white 1px 0, white -1px 0, white 0 -1px, white 0 0 1em;
}
